.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__skills-container {
  width: 80%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (max-width: 900px) {
    width: 100%;
   }
}

.app__skills-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-content: space-around;
  align-items:center;
  @media screen and (max-width: 900px) {
    margin-right: 0;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    
  }
  @media screen and (max-width: 400px) {
    margin-right: 0;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    
  }
}

.app__skills-item {
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 10px 15px;
  box-shadow: white 0px 2px 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;


  div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
   
    svg {
      font-size: 8vh;
      color: #90a0d9;
    }


    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }

  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}

.app__skills-exp {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    margin-top: 2rem;
  }
}

.app__skills-exp-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.app__skills-exp-works {
  flex: 1;

  .app__skills-exp-work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;

    h4 {
      font-weight: 500;
    }

    p {
      font-weight: 400;
      color: var(--gray-color);
      margin-top: 5px;
    }
  }
}

.app__skills-exp-year {
  margin-right: 3rem;

  p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    margin-right: 1rem;
  }
}

.skills-tooltip {
  max-width: 300px !important;
  background-color: var(--white-color) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: var(--gray-color) !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}

.app__skills-item:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  border: 1px solid #90a0d9;

}

.head-text{
  color: white;
}

.git-stats{
  display: flex;
  gap:20px;
  flex-direction: row;
  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    
    img{
      max-width: 90%;
      margin: auto;
    }
  }



}

