.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    @media screen and (max-width: 768px) {
        width:300px
     }
}
input{
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    background-color: #040325;
    margin-top: 20px;
    font-weight: 500;
    color:rgb(91, 88, 88);
    border: none;
    &:focus{
        outline: none;
    }
   
}

.required_lable{
    color: red;
    margin-left: 5px;
}
.send_btn{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
        margin-top: 20px;
        font-weight: 500;
        border: none;
        color:white;
        background-color: #040325;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:20px
        }
}
.after_massage{
    text-align: center;
    font-weight: 500;

}
textarea{
    font-weight: 500;
    margin-top: 20px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    background-color: #040325;
    color:rgb(91, 88, 88);
    &:focus{
        outline: none;
    }
}