.intro{
  display: flex;
  flex-direction: column;
  gap:120px;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  border: 1px solid white;
  padding: 50px;
  box-shadow: white 0px 2px 4px;
  border-radius: 10px;
}

.faizan_img{
  width: 300px;
  border-radius: 100%;
}
.intro_desc{
  text-align: left;
  font-size: 18px;
}
.hello{
  font-size: 30px;
}


.download_cv{
  display: flex;
  align-items:center;
  gap:20px;
  margin-top:40px;
  text-decoration: none;
  list-style-type: none;
  box-shadow: white 0px 2px 4px;
  padding: 15px;
  border-radius: 7px;
  width: 180px;
  
}
.p-text-resume{
  font-weight: 700;
  color:white
}
.resume-download-icon{
  text-decoration: none;
  list-style-type: none;
  color:yellow
}

@media screen and (min-width: 950px) {
  .intro{
    flex-direction: row;
    width: 100%;
  }
}